
body{

    background-color:darkslateblue;
    
}

.imagestyle{
    width :500px;
    height:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}

.title{
    color: gainsboro;
    text-indent: 50px;
    font-family:cursive;
    padding :10px;
    text-align:center;

}

p{
   
   color: gainsboro;
   font-family: Georgia;
   margin:auto;
   width :400px;

}
